@page "/commit"
@using DataEditor.Core.Services
@inject GitEntityService ges


<h3>Publish Changes</h3>
<MudButton OnClick="CommitChanges">Commit</MudButton>
@code {

    private async Task CommitChanges()
    {
        await ges.CommitChangesToGit();
    }
}
