@page "/Contribute"

<h3>***DRAFT** How to Contribute</h3>

<h4>"I want to suggest a film to the filmography!"</h4>

<b>Great!</b> The best way to suggest a film is by submitting a github issue. <a href="https://github.com/International-Fairy-Tale-Filmography/data/issues" class="btn btn-primary">Submit a film</a>

<br/><br/>
<h4>"I want to contribute toward the website code"</h4>

<b>Excellent! </b> There are two ways to contribute - by submitting a recommendation, or submitting a pull request on the repository. 
<br/>
<a href="https://github.com/International-Fairy-Tale-Filmography/frontend" class="btn btn-primary">Repository</a>
<a href="https://github.com/International-Fairy-Tale-Filmography/frontend/issues" class="btn btn-primary">Submit a website issue</a>