<div class="acknowledge-section">
    <strong>This website is freely available for any non-commercial use.</strong><br><br>
    Please feel free to link to our Filmography using this URL: iftf.uwinnipeg.ca.<br><br><br>
    <strong>International Fairy-Tale Filmography Credits:</strong><br><br>
    Jack Zipes, Pauline Greenhill, Kendra Magnus-Johnston, co-creators
    <br><br>
    Robin Atwill, facilitator and official site goddess
    <br><br>
    Andrew Blahuta, Jeffrey Lefebvre, Darko Zirdum, web creation and design
    <br><br>
    Bethany Berard, Ruth Knechtel (postdoctoral fellow 2011-2012),
    Praba Pilar (postdoctoral fellow, 2013-2015), web consultants
    <br><br>
    Alexandria Van Dyck, Lauren Bosc, Angela McGillivray, data entry
    <br><br>
    <strong>University of Winnipeg magical helpers:</strong>
    <br><br>
    Jennifer Cleary, research goddess;
    Marcie Fehr, radical research assistant;
    Roewan Crowe, Angela Failler, Fiona Green, Steven Kohm, Cat Tosenberger co-applicants;
    John Tooth, Copyright Officer;
    Neil Besner, VP Research;
    Technical Solutions Centre--TSC
    Business Solutions
    <br><br>
    <strong>Magical helpers elsewhere:</strong><br>
    Cristina Bacchilega and Sidneyeve Matrix, co-applicants; Jill Terry Rudy
    <br><br>
    <strong>Funding:</strong><br>
    Social Sciences and Humanities Research Council of Canada (SSHRC) Standard Research Grant,
    <i>Fairy Tale Films:  Exploring Ethnographic Perspectives</i>, SSHRC Aid to Small Universities Grant,
    <i>The Arts, New Media, and Cultural Democracy</i>




    <br>
</div>