@page "/"


<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center">
    <img src="img/hugo-george-melies.png" width="100%" />
    <br/>
 
</div>
<div class="d-flex justify-content-center">

    <p class="banner-credit">

        <small>
            The banner art is by <a class="ext-link" href="https://www.nikkipilgrim.com/" target="_blank">Nikki Pilgrim</a> using film stills from Martin Scorsese's <i>Hugo</i>, based on the work of Georges Méliès.
        </small>
    </p>
</div>

<div class="row">
    <div class="col-md-7">
        <HomeSearch />
    </div>
    <div class="col-md-5">
        <HomeAcknowledgements />
    </div>

</div>

